@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anonymous+Pro&family=Caveat:wght@500&family=Comfortaa:wght@500&family=Dancing+Script&family=Fascinate&family=Fuzzy+Bubbles&family=Kanit:wght@200&family=Klee+One&family=Labrada:wght@300&family=Lato:wght@400&family=Lobster&family=Merriweather:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&family=Satisfy&family=Titillium+Web:wght@300&family=Ubuntu&display=swap");
:root {
  --main-fg-color: black;
  --main-bg-color: white;
  --main-font-family: Cursive;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  font-family: var(--main-font-family);
}

.custom-bg {
  background: var(--main-bg-color);
  border: 0px solid var(--main-bg-color);
  border-left: 2px solid white;
  border-radius: 0;
}

.custom-navbar {
  background: #333;
}

.custom-btn {
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
}

.custom-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(137, 43, 226, 0.8);
}

.navbar {
  background: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-bottom: 2px solid rgb(255, 255, 255, 0.3);
}

.nav-link {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  margin-right: 10px;
  text-shadow: 2px 1px 20px black;
}

.nav-item a:hover {
  transition: all 0.2s ease;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: underline 5px;
  text-underline-position: under;
  text-underline-offset: 22px;
}

#nav-btn {
  font-size: 30px;
}

#nav-btn i {
  border: 0px;
}

.my-name {
  font-size: 55px;
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 20px black;
}

.my-pic {
  position: relative;
  height: 22rem;
  width: 20rem;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255, 0.3);
  background: radial-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.1));
  backdrop-filter: blur(10px);
  padding: 15px;
  box-shadow: 1px 2px 50px black;
}
.my-pic img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid white;
}

#introduction {
  width: 100%;
  height: 100vh;
  background-image: url(./images/portfolio-bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.my-text {
  border: 2px solid rgb(255, 255, 255, 0.3);
  background: radial-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.1));
  backdrop-filter: blur(10px);
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 50px black;
}

.my-text a {
  font-size: 25px;
  text-decoration: none;
  text-shadow: 2px 2px 10px black;
  color: white;
  margin-right: 10px;
  border-radius: 20%;
}

.my-text a:hover {
  color: yellow;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 10px blueviolet;
}

.download-btn {
  color: white;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 16px;
}

.download-btn:hover {
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid blueviolet;
}

#profile img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

footer {
  height: 10vh;
  background-color: var(--main-bg-color);
  padding-top: 15px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-logo {
  height: 5rem;
  margin: 5px;
}

.profile-logo {
  height: 6rem;
  margin: 2px;
}

@media screen and (max-width: 1000px) {
  #introduction {
    padding: 2rem;
  }

  #introduction .my-text {
    font-size: 16px;
  }
  .my-name {
    font-size: 30px;
  }
  .my-pic {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 12rem;
    width: 11rem;
  }

  .my-btn {
    justify-content: center;
    margin-right: 0%;
    top: 15vh;
  }

  .my-btn {
    margin-top: 2rem;
    font-size: 13px;
  }

  .nav-item a:hover {
    text-decoration: none;
  }

  .education {
    width: 90%;
  }
  .download-btn {
    font-size: 12px;
  }

  .tech-logo {
    height: 2rem;
    margin: 10px 1px;
  }
  .profile-logo {
    height: 2.5rem;
    margin: 2px;
  }
}
